@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Amiri-Regular.woff2') format('woff2'),
         url('./fonts/Amiri-Regular.woff') format('woff');
}
@font-face {
    font-family: AmiriQuran;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/AmiriQuran.ttf') format('truetype');
}
@font-face {
  font-family: Kitab;
  src: url(./fonts/Kitab-Regular.ttf);
  /*unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655, U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6DD, U+6DF-6E8, U+6EA-6ED, U+8F0-8F3, U+FD3E-FD3F, U+FDF2;*/
}
@font-face {
  font-family: Kitab;
  font-weight: 700;
  src: url(./fonts/Kitab-Bold.ttf);
  /*unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655, U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6DD, U+6DF-6E8, U+6EA-6ED, U+8F0-8F3, U+FD3E-FD3F, U+FDF2;*/
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-Regular.woff2') format('woff2'),
       url('./fonts/Charis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-Italic.woff2') format('woff2'),
       url('./fonts/Charis-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-Medium.woff2') format('woff2'),
       url('./fonts/Charis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-MediumItalic.woff2') format('woff2'),
       url('./fonts/Charis-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-SemiBold.woff2') format('woff2'),
       url('./fonts/Charis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-SemiBoldItalic.woff2') format('woff2'),
       url('./fonts/Charis-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-Bold.woff2') format('woff2'),
       url('./fonts/Charis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CharisW";
  src: url('./fonts/Charis-BoldItalic.woff2') format('woff2'),
       url('./fonts/Charis-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/*
:lang(ar) {
  -moz-font-feature-settings:"calt=1, liga=1, clig=1, kern=1";
  -moz-font-feature-settings:"calt", "liga", "clig", "kern";
  -ms-font-feature-settings:"calt", "liga", "clig", "kern";
  -webkit-font-feature-settings:"calt", "liga", "clig", "kern";
  font-feature-settings:"calt", "liga", "clig", "kern";
  text-rendering: optimizeLegibility;
  font-family: Vazirmatn, serif;
  */
  /* Amiri */
  /*
  font-size: *1.5em;
  line-height: 200%;
  */
  /* Vazir */
  /*
  font-size: 1.2em; 
  line-height: 100%;
}
*/
.smallcaps {
  font-variant: small-caps;
}

body {
  font-variant-numeric: oldstyle-nums;
}
/* Gitbook body text font settings */
/*
.book.font-family-0 {
  font-family: "CharisSIL", "NewComputerModern10", "Brill", "Junicode", "STIX Two Text", "Gentium Plus", FreeSerif, serif;
  font-variant-numeric: oldstyle-nums;
}
.book.font-family-1 {
  font-family: Andika, FreeSans, sans-serif;
}
*/
/* Gitbook TOC pane font settings. This is affecting lists in the body text too..
li {
  font-family: Andika, sans-serif;
}
*/
.watermark {
  transform: rotate(300deg);
  opacity: 0.10;
  position: fixed;
  pointer-events:none; /* allows scrolling when cursor over watermark */
  top: 30%;
  left: 30%;
  font-size: 500%;
  color: #00407d;
}
#lingexref {
  font-size: 0.8em;
}
.ftsize {
  font-size: 0.8em;
}
.reg-ar-span {
  font-family: Vazirmatn, serif;
  font-size: 1.0em; 
  line-height: 100%;
  /* the followuing may be needed if the dir attribute is not set in the source */
  /*
  direction: rtl;
  unicode-bidi: isolate;
  */
}
.alt-ar-span {
  font-family: AmiriWeb, serif;
  font-size: 1.2em; 
  /* line-height: 100%; */
}
.quran-ar-span {
  font-family: Kitab, serif;
  font-size: 1.2em; 
  line-height: 200%;
}
.reg-ar-div {
  font-family: Vazirmatn, serif;
  font-size: 1.0em; 
  /*line-height: 100%;*/
  /* the followuing may be needed if the dir attribute is not set in the source */
  /*
  direction: rtl;
  unicode-bidi: isolate;
  */
}
.alt-ar-div {
  font-family: AmiriWeb, serif;
  font-size: 1.2em; 
  /* line-height: 100%; */
}
.quran-ar-div {
  font-family: Kitab, serif;
  font-size: 1.2em; 
  line-height: 200%;
}
.sourceCode {
  /* adjust monofont size for code listings */
  font-size: 0.95em; 
}
/* for numbered example lists */
ol.example {
  list-style: none;
  padding-left: 0;
}

ol.example li {
  position: relative;
  padding-left: 3em;
}

ol.example li::before {
  content: "(" counter(list-item) ") ";
  position: absolute;
  left: 0;
  width: 3em;
  text-align: left;
}

ol.example ol {
  list-style: none;
  padding-left: 0;
}

ol.example ol li {
  position: relative;
  padding-left: 3em;
}

ol.example ol li::before {
  /*content: "(" counter(list-item) ") ";*/
  position: absolute;
  left: 0;
  width: 3em;
  text-align: left;
}

